POSTGRES_DB=maintenance_db
POSTGRES_USER=maintenance_user
POSTGRES_PASSWORD=Qwertyuiop12345

DATABASE_URL=postgresql://maintenance_user:Qwertyuiop12345@postgres:5432/maintenance_db
SECRET_KEY=3e8be561c261c9e6d957ac67a47ff557e038c74e66b2b492673b0c8af429447c
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

# if more than 1 it should be separated by a comma 
CORS_ORIGINS=https://your-domain.com

# Set to false if you do not want automatic admin seeding
SEED_DEFAULT_ADMIN=true
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=admin123

GRAFANA_ADMIN_PASSWORD=Qwertyuiop12345